{% extends 'base.html' %}
{% load static %}
{% block title %}The Star Rover - Empleado directivo{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row mx-3 my-3">
		<div class="col-lg-12 col-xl-10 offset-xl-1">
			<h1 class="style-script display-4 text-red">
				Editar medidas de modelo {% if not create %}{{ object.model.first_name }} {{ object.model.last_name }}{% endif %}
			</h1>
			<p class="lead">Usa el formulario de abajo para editar las medidas de la modelo {{ object.model.first_name }} {{ object.model.last_name }}.</p>
			{% if form.non_field_errors %}
			<div class="alert alert-danger">
				<ul>
					{% for error in form.non_field_errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
			<form method="post">
				{% csrf_token %}
				<div class="mb-2">
					<label for="{{ form.chest.id_for_label }}">{{ form.chest.label }}</label>
					{{ form.chest }}
					<div class="valid-feedback">
						¡Se ve bien!
					</div>
					<div class="invalid-feedback">
						{{ form.chest.errors }}
					</div>
				</div>
				<div class="mb-2">
					<label for="{{ form.waist.id_for_label }}">{{ form.waist.label }}</label>
					{{ form.waist }}
					<div class="valid-feedback">
						¡Se ve bien!
					</div>
					<div class="invalid-feedback">
						{{ form.waist.errors }}
					</div>
				</div>
				<div class="mb-2">
					<label for="{{ form.hips.id_for_label }}">{{ form.hips.label }}</label>
					{{ form.hips }}
					<div class="valid-feedback">
						¡Se ve bien!
					</div>
					<div class="invalid-feedback">
						{{ form.hips.errors }}
					</div>
				</div>
				<div class="mb-2">
					<label for="{{ form.measured_model.id_for_label }}">{{ form.measured_model.label }}</label>
					{{ form.measured_model }}
					<div class="valid-feedback">
						¡Se ve bien!
					</div>
					<div class="invalid-feedback">
						{{ form.measured_model.errors }}
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Actualizar medidas</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}