{% extends 'base.html' %}
{% load static %}
{% block title %}The Star Rover - Cambiar Password{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row mx-3 my-3">
		<div class="col-lg-12 col-xl-10 offset-xl-1">
			<h1 class="style-script display-4 text-red">Cambiar password</h1>
			<hr>
			<p class="lead">Usa el formulario de abajo para cambiar tu password.</p>
			<div class="alert alert-info">
				Recuerda que:
				<ul>
					<li>
						Tu password no debe ser similar a tus datos.
					</li>
					<li>
						Tu password debe tener al menos 8 caracteres.
					</li>
					<li>
						Tu password no debe ser un password común (como abc123).
					</li>
					<li>
						Tu password no debe ser completamente numérico (como 123456).
					</li>
				</ul>
			</div>
			<form method="post">
				{% csrf_token %}
				<div class="mb-2 col-12 col-lg-8 col-xl-6">
					<label for="id_old_password">Ingresa tu antiguo password</label>
					<input type="password" name="old_password" id="id_old_password" class="form-control" placeholder="Antiguo password">
				</div>
				<div class="mb-2 col-12 col-lg-8 col-xl-6">
					<label for="id_new_password1">Ingresa tu nuevo password</label>
					<input type="password" name="new_password1" id="id_new_password1" class="form-control" placeholder="Nuevo password">
				</div>
				<div class="mb-2 col-12 col-lg-8 col-xl-6">
					<label for="id_new_password2">Confirma tu nuevo password</label>
					<input type="password" name="new_password2" id="id_new_password2" class="form-control" placeholder="Nuevo password">
				</div>
				<hr>
				<button type="submit" class="btn btn-primary">Cambiar mi password</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}