{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/vendor/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/responsive.bootstrap4.css' %}">
<link href="{% static 'css/vendor/buttons.bootstrap4.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block title %}The Star Rover - Todas las modelos{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row mx-3 my-3">
		<div class="col-lg-12 col-xl-10 offset-xl-1">
			<h1 class="style-script display-4 text-red">Todas las modelos</h1>
			<p class="lead">Aquí encontrarás la lista de todas las modelos registradas.</p>
			<table class="table table-striped dt-responsive nowrap w-100" id="basic-datatable">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>País de origen</th>
						<th>Salario</th>
						<th>Agencia</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for model in object_list %}
					<tr>
						<td>{{ model.first_name }} {{ model.last_name }}</td>
						<td>{{ model.country.name }}</td>
						<td>${{ model.salary|intcomma }}</td>
						<td>{{ model.agency.name }}</td>
						<td><a href="{% url 'models:model_detail' model.slug %}" class="btn btn-outline-primary btn-sm">Detalle</a></td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="4"><span class="text-red">No hay modelos registradas. Registra una <a href="{% url 'models:create_model' %}">aquí.</a></span></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
<!-- Datatables js -->
<script src="{% static 'js/vendor/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/vendor/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'js/vendor/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'js/vendor/responsive.bootstrap4.min.js' %}"></script>

<!-- Datatable Init js -->
<script src="{% static 'js/pages/demo.datatable-init.js' %}"></script>

{% endblock %}