{% extends 'base.html' %}
{% load static %}
{% block title %}The Star Rover - Eliminar Agencia{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row mx-3 my-3">
		<div class="col-lg-12 col-xl-10 offset-xl-1 text-center">
			<h1 class="style-script display-4 text-red">Eliminar foto</h1>
			<p class="lead">Haz clic en el botón de abajo para eliminar la foto.</p>
			<hr>
			<img src="{{ object.image.url }}" alt="" class="img-thumbnail">
			<button class="btn btn-lg btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Eliminar foto</button>
		</div>
	</div>
</div>
{% endblock %}
{% block modal %}
<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center align-items-center">
                <h3>¡Cuidado!</h3>
                <p>
                	¿Realmente deseas eliminar la foto? Recuerda que <span class="text-danger">esta acción no puede dehacerse.</span>
                </p>
                <hr>
                <form method="post">
                	{% csrf_token %}
	                <button type="submit" class="btn btn-primary">Sí, deseo eliminarla.</button>
	                <a class="btn btn-secondary" href="{% url 'models:portfolio_detail' object.portfolio.pk %}">No. Quiero regresar.</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}