{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/vendor/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/responsive.bootstrap4.css' %}">
{% endblock %}
{% block title %}The Star Rover - Portafolio{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row mx-3 my-3">
		<div class="col-lg-12 col-xl-10 offset-xl-1">
			<h1 class="style-script display-4 text-red">Portafolio de  {{ object.model.first_name }} {{ object.model.last_name }}</h1>
			<p class="lead">Aquí podrás ver toda la información del portafolio de {{ object.model.first_name }}.</p>
			<hr>
			<div class="accordion" id="agenciaAccordion">
				<div class="card mb-0">
					<div class="card-header" id="headingOne">
						<h5 class="m-0">
							<a href="#collapseOne" class="custom-accordion-title d-block py-2"
								data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
								Información del portafolio	
							</a>
						</h5>
					</div>
					<div class="collapse show" id="collapseOne" data-bs-parent="#agenciaAccordion">
						<div class="card-body">
							<table class="table table-borderless table-hover table-light">
								<tbody>
									<tr>
										<td>
											<strong>Nombre de la modelo</strong>
										</td>
										<td>
											{{ object.model.first_name }} {{ object.model.last_name }}
										</td>
									</tr>
									<tr>
										<td>
											<strong>País de origen</strong>
										</td>
										<td>
											{{ object.model.country.name }}
										</td>
									</tr>
									<tr>
										<td><strong>Agencia</strong></td>
										<td>
											{{ object.model.agency.name }}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="card mb-0">
					<div class="card-header" id="headingTwo">
						<h5 class="m-0">
							<a href="#collapseTwo" class="custom-accordion-title d-block py-2"
								data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseTwo">
								Fotos del portafolio	
							</a>
						</h5>
					</div>
					<div class="collapse" id="collapseTwo" data-bs-parent="#agenciaAccordion">
						<div class="card-body">
							<table class="table table-borderless table-hover table-light" id="basic-datatable">
								<thead>
									<tr>
										<th></th>
										<th>Fecha de subida</th>
									</tr>
								</thead>
								<tbody>
									{% for photo in photos %}
									<tr>
										<td>
											<img src="{{ photo.image.url }}" alt="" class="img-thumbnail avatar-sm">
										</td>
										<td>
											{{ photo.created|date:"d-m-Y" }}
										</td>
									</tr>
									{% empty %}
									<tr>
										<td>
											<strong class="text-red text-center align-items-center">No hay fotos en este portafolio aún.</strong>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col">
					<a href="#" class="btn btn-primary me">Agregar fotos al portafolio</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
<!-- Datatables js -->
<script src="{% static 'js/vendor/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/vendor/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'js/vendor/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'js/vendor/responsive.bootstrap4.min.js' %}"></script>

<!-- Datatable Init js -->
<script src="{% static 'js/pages/demo.datatable-init.js' %}"></script>

{% endblock %}