@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #F2BFDC;
}
.style-script {
    font-family: 'Style Script', cursive;
}
.big-font {
	font-size: 2em;
}
.bg-hot-purple {
	background-color: #A270E6;
}
.bg-red {
	background-color: #E67078;
}
.bg-pink {
	background-color: #F075BA;
}
/*Atributos unicos*/
.carousel-item img {
	object-fit: cover;
	height: 600px;
}
.btn-outline-fuchsia {
	color: #fff;
	border-color: #F075BA; 
}
.btn-outline-fuchsia:hover {
	color: #fff;
	background-color: #F075BA;
	border-color: #F075BA; 
}
.btn-check:focus + .btn-outline-fuchsia, .btn-outline-fuchsia:focus {
	-webkit-box-shadow: 0 0 0 0.2rem rgba(114, 124, 245, 0.5);
	box-shadow: 0 0 0 0.2rem rgba(114, 124, 245, 0.5); 
}
.btn-check:checked + .btn-outline-fuchsia,
.btn-check:active + .btn-outline-fuchsia, .btn-outline-fuchsia:active, 
.btn-outline-fuchsia.active, .btn-outline-fuchsia.dropdown-toggle.show {
	color: #fff;
	background-color: #F075BA;
	border-color: #F075BA; 
}
.btn-check:checked + .btn-outline-fuchsia:focus,
.btn-check:active + .btn-outline-fuchsia:focus, 
.btn-outline-fuchsia:active:focus, .btn-outline-fuchsia.active:focus, 
.btn-outline-fuchsia.dropdown-toggle.show:focus {
	-webkit-box-shadow: 0 0 0 0.2rem rgba(114, 124, 245, 0.5);
	box-shadow: 0 0 0 0.2rem rgba(114, 124, 245, 0.5); 
}
.btn-outline-fuchsia:disabled, .btn-outline-fuchsia.disabled {
	color: #F075BA;
	background-color: transparent; 
}